p.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}
p.song{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
}
p.direction{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: black;
    background-color: antiquewhite;
}
p.direction :hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: blue;
    background-color: aqua;


}
p.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: black;
}
h6.ROSE{
font-style: italic;
color: brown;
}
h6.ROB{
    font-style: oblique;
    color: azure;
}
h6.CHORUS{
    font-style: normal;
    color: bisque;
}
h6.RICH{
    font-style: calc();
    color: aquamarine;
}

