p.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
p.song{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
p.direction{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: black;
    background-color: antiquewhite;
}
p.direction:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: blue;
    background-color: aqua;


}
h6.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: black;
}
h6.ROSE{
font-style: italic;
color: brown;
}
h6.ROB{
    font-style: oblique;
    color: azure;
}
.table{
    border: 3px;
    border-style: dotted;
    color: blue;
    text-align: center;
    background-color: aquamarine;
    padding: 1px;
    margin: 1px;
}
tr:nth-child(even) {
    background-color: aqua;
}
